* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header h1 {
    font-size: 40px;
    padding: 13px 25px;
    border-bottom: 3px black solid;
}

.internal-box {
    margin: 30px;
    padding: 20px 20px 50px 20px;
    border: 3px black solid;
}

.internal-box p {
    font-size: 20px;
}

.footer {
    padding: 10px 0px 30px 15px;
    border-top: 3px black solid;
}