* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    padding: 10px 25px;
    border-bottom: 3px solid black;
}

main section {
    padding: 16px 0;
}

.internal-box {
    width: 400px;
    padding: 16px;
    border: 3px black solid;
    margin: 0 auto;
}

.internal-box p {
    font-size: 18px;
}

.footer {
    padding: 10px 0px 30px 15px;
    border-top: 3px solid black;
}